@media screen and (max-width: 850px) and (min-width: 495px) {
  .divSite {
    max-width: 100%; } }
@media screen and (max-width: 750px) and (min-width: 495px) {
  #dishidden {
    display: none; }

  .divSite {
    max-width: 100%; } }
@media screen and (max-width: 620px) and (min-width: 495px) {
  #resizeSmaller {
    font-size: 2.3em; }

  .textOnImg {
    font-size: 170%; }

  .flexSubmit > button {
    width: 45%; } }
@media screen and (max-width: 520px) {
  .divFlexChildren > label {
    font-size: 90%; }

  .flexSubmit > button {
    width: 47%; }

  #disHidden {
    display: none; }

  .flexTextInput {
    align-items: center;
    flex-direction: column; } }
@media screen and (max-width: 495px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 120% !important; }

  .divSite {
    max-width: 100%;
    background-color: #ffffff; }

  #disHiddenSmall {
    display: none; }

  #visHiddenSmall {
    visibility: hidden; }

  .divFlexChildren > label {
    font-size: 85% !important; }

  #resizeSmaller {
    font-size: 1.5em !important; }

  .textOnImg {
    font-size: 120% !important;
    color: black; } }
@media screen and (max-width: 300px) {
  .flexSubmit > button {
    width: 60%; } }
@media screen and (max-width: 200px) {
  .flexSubmit > button {
    width: 75%; } }
@media screen and (max-width: 343px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.7% !important; }

  .divFlexChildren > label {
    font-size: 84.8% !important; }

  #resizeSmaller {
    font-size: 129.7% !important; }

  .textOnImg {
    font-size: 109.7% !important; }

  .navbar {
    font-size: 109.7% !important; }

  .form {
    margin-top: -54.7%; } }
@media screen and (max-width: 336px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.4% !important; }

  .divFlexChildren > label {
    font-size: 84.6% !important; }

  #resizeSmaller {
    font-size: 129.4% !important; }

  .textOnImg {
    font-size: 109.4% !important; }

  .navbar {
    font-size: 109.4% !important; }

  .form {
    margin-top: -54.4%; } }
@media screen and (max-width: 329px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.1% !important; }

  .divFlexChildren > label {
    font-size: 84.4% !important; }

  #resizeSmaller {
    font-size: 129.1% !important; }

  .textOnImg {
    font-size: 109.1% !important; }

  .navbar {
    font-size: 109.1% !important; }

  .form {
    margin-top: -54.1%; } }
@media screen and (max-width: 322px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.8% !important; }

  .divFlexChildren > label {
    font-size: 84.2% !important; }

  #resizeSmaller {
    font-size: 128.8% !important; }

  .textOnImg {
    font-size: 108.8% !important; }

  .navbar {
    font-size: 108.8% !important; }

  .form {
    margin-top: -53.8%; } }
@media screen and (max-width: 315px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.5% !important; }

  .divFlexChildren > label {
    font-size: 84% !important; }

  #resizeSmaller {
    font-size: 128.5% !important; }

  .textOnImg {
    font-size: 108.5% !important; }

  .navbar {
    font-size: 108.5% !important; }

  .form {
    margin-top: -53.5%; } }
@media screen and (max-width: 308px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.2% !important; }

  .divFlexChildren > label {
    font-size: 83.8% !important; }

  #resizeSmaller {
    font-size: 128.2% !important; }

  .textOnImg {
    font-size: 108.2% !important; }

  .navbar {
    font-size: 108.2% !important; }

  .form {
    margin-top: -53.2%; } }
@media screen and (max-width: 301px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.9% !important; }

  .divFlexChildren > label {
    font-size: 83.6% !important; }

  #resizeSmaller {
    font-size: 127.9% !important; }

  .textOnImg {
    font-size: 107.9% !important; }

  .navbar {
    font-size: 107.9% !important; }

  .form {
    margin-top: -52.9%; } }
@media screen and (max-width: 294px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.6% !important; }

  .divFlexChildren > label {
    font-size: 83.4% !important; }

  #resizeSmaller {
    font-size: 127.6% !important; }

  .textOnImg {
    font-size: 107.6% !important; }

  .navbar {
    font-size: 107.6% !important; }

  .form {
    margin-top: -52.6%; } }
@media screen and (max-width: 287px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.3% !important; }

  .divFlexChildren > label {
    font-size: 83.2% !important; }

  #resizeSmaller {
    font-size: 127.3% !important; }

  .textOnImg {
    font-size: 107.3% !important; }

  .navbar {
    font-size: 107.3% !important; }

  .form {
    margin-top: -52.3%; } }
@media screen and (max-width: 280px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117% !important; }

  .divFlexChildren > label {
    font-size: 83% !important; }

  #resizeSmaller {
    font-size: 127% !important; }

  .textOnImg {
    font-size: 107% !important; }

  .navbar {
    font-size: 107% !important; }

  .form {
    margin-top: -52%; } }
@media screen and (max-width: 273px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.7% !important; }

  .divFlexChildren > label {
    font-size: 82.8% !important; }

  #resizeSmaller {
    font-size: 126.7% !important; }

  .textOnImg {
    font-size: 106.7% !important; }

  .navbar {
    font-size: 106.7% !important; }

  .form {
    margin-top: -51.7%; } }
@media screen and (max-width: 266px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.4% !important; }

  .divFlexChildren > label {
    font-size: 82.6% !important; }

  #resizeSmaller {
    font-size: 126.4% !important; }

  .textOnImg {
    font-size: 106.4% !important; }

  .navbar {
    font-size: 106.4% !important; }

  .form {
    margin-top: -51.4%; } }
@media screen and (max-width: 259px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.1% !important; }

  .divFlexChildren > label {
    font-size: 82.4% !important; }

  #resizeSmaller {
    font-size: 126.1% !important; }

  .textOnImg {
    font-size: 106.1% !important; }

  .navbar {
    font-size: 106.1% !important; }

  .form {
    margin-top: -51.1%; } }
@media screen and (max-width: 252px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.8% !important; }

  .divFlexChildren > label {
    font-size: 82.2% !important; }

  #resizeSmaller {
    font-size: 125.8% !important; }

  .textOnImg {
    font-size: 105.8% !important; }

  .navbar {
    font-size: 105.8% !important; }

  .form {
    margin-top: -50.8%; } }
@media screen and (max-width: 245px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.5% !important; }

  .divFlexChildren > label {
    font-size: 82% !important; }

  #resizeSmaller {
    font-size: 125.5% !important; }

  .textOnImg {
    font-size: 105.5% !important; }

  .navbar {
    font-size: 105.5% !important; }

  .form {
    margin-top: -50.5%; } }
@media screen and (max-width: 238px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.2% !important; }

  .divFlexChildren > label {
    font-size: 81.8% !important; }

  #resizeSmaller {
    font-size: 125.2% !important; }

  .textOnImg {
    font-size: 105.2% !important; }

  .navbar {
    font-size: 105.2% !important; }

  .form {
    margin-top: -50.2%; } }
@media screen and (max-width: 231px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.9% !important; }

  .divFlexChildren > label {
    font-size: 81.6% !important; }

  #resizeSmaller {
    font-size: 124.9% !important; }

  .textOnImg {
    font-size: 104.9% !important; }

  .navbar {
    font-size: 104.9% !important; }

  .form {
    margin-top: -49.9%; } }
@media screen and (max-width: 224px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.6% !important; }

  .divFlexChildren > label {
    font-size: 81.4% !important; }

  #resizeSmaller {
    font-size: 124.6% !important; }

  .textOnImg {
    font-size: 104.6% !important; }

  .navbar {
    font-size: 104.6% !important; }

  .form {
    margin-top: -49.6%; } }
@media screen and (max-width: 217px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.3% !important; }

  .divFlexChildren > label {
    font-size: 81.2% !important; }

  #resizeSmaller {
    font-size: 124.3% !important; }

  .textOnImg {
    font-size: 104.3% !important; }

  .navbar {
    font-size: 104.3% !important; }

  .form {
    margin-top: -49.3%; } }
@media screen and (max-width: 210px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114% !important; }

  .divFlexChildren > label {
    font-size: 81% !important; }

  #resizeSmaller {
    font-size: 124% !important; }

  .textOnImg {
    font-size: 104% !important; }

  .navbar {
    font-size: 104% !important; }

  .form {
    margin-top: -49%; } }
@media screen and (max-width: 203px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.7% !important; }

  .divFlexChildren > label {
    font-size: 80.8% !important; }

  #resizeSmaller {
    font-size: 123.7% !important; }

  .textOnImg {
    font-size: 103.7% !important; }

  .navbar {
    font-size: 103.7% !important; }

  .form {
    margin-top: -48.7%; } }
@media screen and (max-width: 196px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.4% !important; }

  .divFlexChildren > label {
    font-size: 80.6% !important; }

  #resizeSmaller {
    font-size: 123.4% !important; }

  .textOnImg {
    font-size: 103.4% !important; }

  .navbar {
    font-size: 103.4% !important; }

  .form {
    margin-top: -48.4%; } }
@media screen and (max-width: 189px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.1% !important; }

  .divFlexChildren > label {
    font-size: 80.4% !important; }

  #resizeSmaller {
    font-size: 123.1% !important; }

  .textOnImg {
    font-size: 103.1% !important; }

  .navbar {
    font-size: 103.1% !important; }

  .form {
    margin-top: -48.1%; } }
@media screen and (max-width: 182px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.8% !important; }

  .divFlexChildren > label {
    font-size: 80.2% !important; }

  #resizeSmaller {
    font-size: 122.8% !important; }

  .textOnImg {
    font-size: 102.8% !important; }

  .navbar {
    font-size: 102.8% !important; }

  .form {
    margin-top: -47.8%; } }
@media screen and (max-width: 175px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.5% !important; }

  .divFlexChildren > label {
    font-size: 80% !important; }

  #resizeSmaller {
    font-size: 122.5% !important; }

  .textOnImg {
    font-size: 102.5% !important; }

  .navbar {
    font-size: 102.5% !important; }

  .form {
    margin-top: -47.5%; } }
@media screen and (max-width: 168px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.2% !important; }

  .divFlexChildren > label {
    font-size: 79.8% !important; }

  #resizeSmaller {
    font-size: 122.2% !important; }

  .textOnImg {
    font-size: 102.2% !important; }

  .navbar {
    font-size: 102.2% !important; }

  .form {
    margin-top: -47.2%; } }
@media screen and (max-width: 161px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.9% !important; }

  .divFlexChildren > label {
    font-size: 79.6% !important; }

  #resizeSmaller {
    font-size: 121.9% !important; }

  .textOnImg {
    font-size: 101.9% !important; }

  .navbar {
    font-size: 101.9% !important; }

  .form {
    margin-top: -46.9%; } }
@media screen and (max-width: 154px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.6% !important; }

  .divFlexChildren > label {
    font-size: 79.4% !important; }

  #resizeSmaller {
    font-size: 121.6% !important; }

  .textOnImg {
    font-size: 101.6% !important; }

  .navbar {
    font-size: 101.6% !important; }

  .form {
    margin-top: -46.6%; } }
@media screen and (max-width: 147px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.3% !important; }

  .divFlexChildren > label {
    font-size: 79.2% !important; }

  #resizeSmaller {
    font-size: 121.3% !important; }

  .textOnImg {
    font-size: 101.3% !important; }

  .navbar {
    font-size: 101.3% !important; }

  .form {
    margin-top: -46.3%; } }
@media screen and (max-width: 140px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111% !important; }

  .divFlexChildren > label {
    font-size: 79% !important; }

  #resizeSmaller {
    font-size: 121% !important; }

  .textOnImg {
    font-size: 101% !important; }

  .navbar {
    font-size: 101% !important; }

  .form {
    margin-top: -46%; } }

/*# sourceMappingURL=media_queries.css.map */
