@media screen and (max-width: 850px) and (min-width: 495px) {
  .divSite {
    max-width: 100%; } }
@media screen and (max-width: 750px) and (min-width: 495px) {
  #dishidden {
    display: none; }

  .divSite {
    max-width: 100%; } }
@media screen and (max-width: 620px) and (min-width: 495px) {
  #resizeSmaller {
    font-size: 2.3em; }

  .textOnImg {
    font-size: 170%; }

  .flexSubmit > button {
    width: 45%; } }
@media screen and (max-width: 520px) {
  .divFlexChildren > label {
    font-size: 90%; }

  .flexSubmit > button {
    width: 47%; }

  #disHidden {
    display: none; }

  .flexTextInput {
    align-items: center;
    flex-direction: column; } }
@media screen and (max-width: 495px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 120% !important; }

  .divSite {
    max-width: 100%;
    background-color: #ffffff; }

  #disHiddenSmall {
    display: none; }

  #visHiddenSmall {
    visibility: hidden; }

  .divFlexChildren > label {
    font-size: 85% !important; }

  #resizeSmaller {
    font-size: 1.5em !important; }

  .textOnImg {
    font-size: 120% !important;
    color: black; } }
@media screen and (max-width: 300px) {
  .flexSubmit > button {
    width: 60%; } }
@media screen and (max-width: 200px) {
  .flexSubmit > button {
    width: 75%; } }
@media screen and (max-width: 348.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.7% !important; }

  .divFlexChildren > label {
    font-size: 84.9% !important; }

  #resizeSmaller {
    font-size: 129.9% !important; }

  .textOnImg {
    font-size: 109.5% !important; } }
@media screen and (max-width: 347px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.4% !important; }

  .divFlexChildren > label {
    font-size: 84.8% !important; }

  #resizeSmaller {
    font-size: 129.8% !important; }

  .textOnImg {
    font-size: 109% !important; } }
@media screen and (max-width: 345.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 119.1% !important; }

  .divFlexChildren > label {
    font-size: 84.7% !important; }

  #resizeSmaller {
    font-size: 129.7% !important; }

  .textOnImg {
    font-size: 108.5% !important; } }
@media screen and (max-width: 344px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.8% !important; }

  .divFlexChildren > label {
    font-size: 84.6% !important; }

  #resizeSmaller {
    font-size: 129.6% !important; }

  .textOnImg {
    font-size: 108% !important; } }
@media screen and (max-width: 342.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.5% !important; }

  .divFlexChildren > label {
    font-size: 84.5% !important; }

  #resizeSmaller {
    font-size: 129.5% !important; }

  .textOnImg {
    font-size: 107.5% !important; } }
@media screen and (max-width: 341px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 118.2% !important; }

  .divFlexChildren > label {
    font-size: 84.4% !important; }

  #resizeSmaller {
    font-size: 129.4% !important; }

  .textOnImg {
    font-size: 107% !important; } }
@media screen and (max-width: 339.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.9% !important; }

  .divFlexChildren > label {
    font-size: 84.3% !important; }

  #resizeSmaller {
    font-size: 129.3% !important; }

  .textOnImg {
    font-size: 106.5% !important; } }
@media screen and (max-width: 338px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.6% !important; }

  .divFlexChildren > label {
    font-size: 84.2% !important; }

  #resizeSmaller {
    font-size: 129.2% !important; }

  .textOnImg {
    font-size: 106% !important; } }
@media screen and (max-width: 336.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117.3% !important; }

  .divFlexChildren > label {
    font-size: 84.1% !important; }

  #resizeSmaller {
    font-size: 129.1% !important; }

  .textOnImg {
    font-size: 105.5% !important; } }
@media screen and (max-width: 335px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 117% !important; }

  .divFlexChildren > label {
    font-size: 84% !important; }

  #resizeSmaller {
    font-size: 129% !important; }

  .textOnImg {
    font-size: 105% !important; } }
@media screen and (max-width: 333.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.7% !important; }

  .divFlexChildren > label {
    font-size: 83.9% !important; }

  #resizeSmaller {
    font-size: 128.9% !important; }

  .textOnImg {
    font-size: 104.5% !important; } }
@media screen and (max-width: 332px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.4% !important; }

  .divFlexChildren > label {
    font-size: 83.8% !important; }

  #resizeSmaller {
    font-size: 128.8% !important; }

  .textOnImg {
    font-size: 104% !important; } }
@media screen and (max-width: 330.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 116.1% !important; }

  .divFlexChildren > label {
    font-size: 83.7% !important; }

  #resizeSmaller {
    font-size: 128.7% !important; }

  .textOnImg {
    font-size: 103.5% !important; } }
@media screen and (max-width: 329px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.8% !important; }

  .divFlexChildren > label {
    font-size: 83.6% !important; }

  #resizeSmaller {
    font-size: 128.6% !important; }

  .textOnImg {
    font-size: 103% !important; } }
@media screen and (max-width: 327.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.5% !important; }

  .divFlexChildren > label {
    font-size: 83.5% !important; }

  #resizeSmaller {
    font-size: 128.5% !important; }

  .textOnImg {
    font-size: 102.5% !important; } }
@media screen and (max-width: 326px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 115.2% !important; }

  .divFlexChildren > label {
    font-size: 83.4% !important; }

  #resizeSmaller {
    font-size: 128.4% !important; }

  .textOnImg {
    font-size: 102% !important; } }
@media screen and (max-width: 324.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.9% !important; }

  .divFlexChildren > label {
    font-size: 83.3% !important; }

  #resizeSmaller {
    font-size: 128.3% !important; }

  .textOnImg {
    font-size: 101.5% !important; } }
@media screen and (max-width: 323px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.6% !important; }

  .divFlexChildren > label {
    font-size: 83.2% !important; }

  #resizeSmaller {
    font-size: 128.2% !important; }

  .textOnImg {
    font-size: 101% !important; } }
@media screen and (max-width: 321.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114.3% !important; }

  .divFlexChildren > label {
    font-size: 83.1% !important; }

  #resizeSmaller {
    font-size: 128.1% !important; }

  .textOnImg {
    font-size: 100.5% !important; } }
@media screen and (max-width: 320px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 114% !important; }

  .divFlexChildren > label {
    font-size: 83% !important; }

  #resizeSmaller {
    font-size: 128% !important; }

  .textOnImg {
    font-size: 100% !important; } }
@media screen and (max-width: 318.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.7% !important; }

  .divFlexChildren > label {
    font-size: 82.9% !important; }

  #resizeSmaller {
    font-size: 127.9% !important; }

  .textOnImg {
    font-size: 99.5% !important; } }
@media screen and (max-width: 317px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.4% !important; }

  .divFlexChildren > label {
    font-size: 82.8% !important; }

  #resizeSmaller {
    font-size: 127.8% !important; }

  .textOnImg {
    font-size: 99% !important; } }
@media screen and (max-width: 315.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 113.1% !important; }

  .divFlexChildren > label {
    font-size: 82.7% !important; }

  #resizeSmaller {
    font-size: 127.7% !important; }

  .textOnImg {
    font-size: 98.5% !important; } }
@media screen and (max-width: 314px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.8% !important; }

  .divFlexChildren > label {
    font-size: 82.6% !important; }

  #resizeSmaller {
    font-size: 127.6% !important; }

  .textOnImg {
    font-size: 98% !important; } }
@media screen and (max-width: 312.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.5% !important; }

  .divFlexChildren > label {
    font-size: 82.5% !important; }

  #resizeSmaller {
    font-size: 127.5% !important; }

  .textOnImg {
    font-size: 97.5% !important; } }
@media screen and (max-width: 311px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 112.2% !important; }

  .divFlexChildren > label {
    font-size: 82.4% !important; }

  #resizeSmaller {
    font-size: 127.4% !important; }

  .textOnImg {
    font-size: 97% !important; } }
@media screen and (max-width: 309.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.9% !important; }

  .divFlexChildren > label {
    font-size: 82.3% !important; }

  #resizeSmaller {
    font-size: 127.3% !important; }

  .textOnImg {
    font-size: 96.5% !important; } }
@media screen and (max-width: 308px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.6% !important; }

  .divFlexChildren > label {
    font-size: 82.2% !important; }

  #resizeSmaller {
    font-size: 127.2% !important; }

  .textOnImg {
    font-size: 96% !important; } }
@media screen and (max-width: 306.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111.3% !important; }

  .divFlexChildren > label {
    font-size: 82.1% !important; }

  #resizeSmaller {
    font-size: 127.1% !important; }

  .textOnImg {
    font-size: 95.5% !important; } }
@media screen and (max-width: 305px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 111% !important; }

  .divFlexChildren > label {
    font-size: 82% !important; }

  #resizeSmaller {
    font-size: 127% !important; }

  .textOnImg {
    font-size: 95% !important; } }
@media screen and (max-width: 303.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 110.7% !important; }

  .divFlexChildren > label {
    font-size: 81.9% !important; }

  #resizeSmaller {
    font-size: 126.9% !important; }

  .textOnImg {
    font-size: 94.5% !important; } }
@media screen and (max-width: 302px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 110.4% !important; }

  .divFlexChildren > label {
    font-size: 81.8% !important; }

  #resizeSmaller {
    font-size: 126.8% !important; }

  .textOnImg {
    font-size: 94% !important; } }
@media screen and (max-width: 300.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 110.1% !important; }

  .divFlexChildren > label {
    font-size: 81.7% !important; }

  #resizeSmaller {
    font-size: 126.7% !important; }

  .textOnImg {
    font-size: 93.5% !important; } }
@media screen and (max-width: 299px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 109.8% !important; }

  .divFlexChildren > label {
    font-size: 81.6% !important; }

  #resizeSmaller {
    font-size: 126.6% !important; }

  .textOnImg {
    font-size: 93% !important; } }
@media screen and (max-width: 297.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 109.5% !important; }

  .divFlexChildren > label {
    font-size: 81.5% !important; }

  #resizeSmaller {
    font-size: 126.5% !important; }

  .textOnImg {
    font-size: 92.5% !important; } }
@media screen and (max-width: 296px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 109.2% !important; }

  .divFlexChildren > label {
    font-size: 81.4% !important; }

  #resizeSmaller {
    font-size: 126.4% !important; }

  .textOnImg {
    font-size: 92% !important; } }
@media screen and (max-width: 294.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 108.9% !important; }

  .divFlexChildren > label {
    font-size: 81.3% !important; }

  #resizeSmaller {
    font-size: 126.3% !important; }

  .textOnImg {
    font-size: 91.5% !important; } }
@media screen and (max-width: 293px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 108.6% !important; }

  .divFlexChildren > label {
    font-size: 81.2% !important; }

  #resizeSmaller {
    font-size: 126.2% !important; }

  .textOnImg {
    font-size: 91% !important; } }
@media screen and (max-width: 291.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 108.3% !important; }

  .divFlexChildren > label {
    font-size: 81.1% !important; }

  #resizeSmaller {
    font-size: 126.1% !important; }

  .textOnImg {
    font-size: 90.5% !important; } }
@media screen and (max-width: 290px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 108% !important; }

  .divFlexChildren > label {
    font-size: 81% !important; }

  #resizeSmaller {
    font-size: 126% !important; }

  .textOnImg {
    font-size: 90% !important; } }
@media screen and (max-width: 288.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 107.7% !important; }

  .divFlexChildren > label {
    font-size: 80.9% !important; }

  #resizeSmaller {
    font-size: 125.9% !important; }

  .textOnImg {
    font-size: 89.5% !important; } }
@media screen and (max-width: 287px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 107.4% !important; }

  .divFlexChildren > label {
    font-size: 80.8% !important; }

  #resizeSmaller {
    font-size: 125.8% !important; }

  .textOnImg {
    font-size: 89% !important; } }
@media screen and (max-width: 285.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 107.1% !important; }

  .divFlexChildren > label {
    font-size: 80.7% !important; }

  #resizeSmaller {
    font-size: 125.7% !important; }

  .textOnImg {
    font-size: 88.5% !important; } }
@media screen and (max-width: 284px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 106.8% !important; }

  .divFlexChildren > label {
    font-size: 80.6% !important; }

  #resizeSmaller {
    font-size: 125.6% !important; }

  .textOnImg {
    font-size: 88% !important; } }
@media screen and (max-width: 282.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 106.5% !important; }

  .divFlexChildren > label {
    font-size: 80.5% !important; }

  #resizeSmaller {
    font-size: 125.5% !important; }

  .textOnImg {
    font-size: 87.5% !important; } }
@media screen and (max-width: 281px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 106.2% !important; }

  .divFlexChildren > label {
    font-size: 80.4% !important; }

  #resizeSmaller {
    font-size: 125.4% !important; }

  .textOnImg {
    font-size: 87% !important; } }
@media screen and (max-width: 279.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 105.9% !important; }

  .divFlexChildren > label {
    font-size: 80.3% !important; }

  #resizeSmaller {
    font-size: 125.3% !important; }

  .textOnImg {
    font-size: 86.5% !important; } }
@media screen and (max-width: 278px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 105.6% !important; }

  .divFlexChildren > label {
    font-size: 80.2% !important; }

  #resizeSmaller {
    font-size: 125.2% !important; }

  .textOnImg {
    font-size: 86% !important; } }
@media screen and (max-width: 276.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 105.3% !important; }

  .divFlexChildren > label {
    font-size: 80.1% !important; }

  #resizeSmaller {
    font-size: 125.1% !important; }

  .textOnImg {
    font-size: 85.5% !important; } }
@media screen and (max-width: 275px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 105% !important; }

  .divFlexChildren > label {
    font-size: 80% !important; }

  #resizeSmaller {
    font-size: 125% !important; }

  .textOnImg {
    font-size: 85% !important; } }
@media screen and (max-width: 273.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 104.7% !important; }

  .divFlexChildren > label {
    font-size: 79.9% !important; }

  #resizeSmaller {
    font-size: 124.9% !important; }

  .textOnImg {
    font-size: 84.5% !important; } }
@media screen and (max-width: 272px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 104.4% !important; }

  .divFlexChildren > label {
    font-size: 79.8% !important; }

  #resizeSmaller {
    font-size: 124.8% !important; }

  .textOnImg {
    font-size: 84% !important; } }
@media screen and (max-width: 270.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 104.1% !important; }

  .divFlexChildren > label {
    font-size: 79.7% !important; }

  #resizeSmaller {
    font-size: 124.7% !important; }

  .textOnImg {
    font-size: 83.5% !important; } }
@media screen and (max-width: 269px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 103.8% !important; }

  .divFlexChildren > label {
    font-size: 79.6% !important; }

  #resizeSmaller {
    font-size: 124.6% !important; }

  .textOnImg {
    font-size: 83% !important; } }
@media screen and (max-width: 267.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 103.5% !important; }

  .divFlexChildren > label {
    font-size: 79.5% !important; }

  #resizeSmaller {
    font-size: 124.5% !important; }

  .textOnImg {
    font-size: 82.5% !important; } }
@media screen and (max-width: 266px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 103.2% !important; }

  .divFlexChildren > label {
    font-size: 79.4% !important; }

  #resizeSmaller {
    font-size: 124.4% !important; }

  .textOnImg {
    font-size: 82% !important; } }
@media screen and (max-width: 264.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 102.9% !important; }

  .divFlexChildren > label {
    font-size: 79.3% !important; }

  #resizeSmaller {
    font-size: 124.3% !important; }

  .textOnImg {
    font-size: 81.5% !important; } }
@media screen and (max-width: 263px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 102.6% !important; }

  .divFlexChildren > label {
    font-size: 79.2% !important; }

  #resizeSmaller {
    font-size: 124.2% !important; }

  .textOnImg {
    font-size: 81% !important; } }
@media screen and (max-width: 261.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 102.3% !important; }

  .divFlexChildren > label {
    font-size: 79.1% !important; }

  #resizeSmaller {
    font-size: 124.1% !important; }

  .textOnImg {
    font-size: 80.5% !important; } }
@media screen and (max-width: 260px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 102% !important; }

  .divFlexChildren > label {
    font-size: 79% !important; }

  #resizeSmaller {
    font-size: 124% !important; }

  .textOnImg {
    font-size: 80% !important; } }
@media screen and (max-width: 258.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 101.7% !important; }

  .divFlexChildren > label {
    font-size: 78.9% !important; }

  #resizeSmaller {
    font-size: 123.9% !important; }

  .textOnImg {
    font-size: 79.5% !important; } }
@media screen and (max-width: 257px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 101.4% !important; }

  .divFlexChildren > label {
    font-size: 78.8% !important; }

  #resizeSmaller {
    font-size: 123.8% !important; }

  .textOnImg {
    font-size: 79% !important; } }
@media screen and (max-width: 255.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 101.1% !important; }

  .divFlexChildren > label {
    font-size: 78.7% !important; }

  #resizeSmaller {
    font-size: 123.7% !important; }

  .textOnImg {
    font-size: 78.5% !important; } }
@media screen and (max-width: 254px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 100.8% !important; }

  .divFlexChildren > label {
    font-size: 78.6% !important; }

  #resizeSmaller {
    font-size: 123.6% !important; }

  .textOnImg {
    font-size: 78% !important; } }
@media screen and (max-width: 252.5px) {
  html > body p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  button,
  select,
  label {
    font-size: 100.5% !important; }

  .divFlexChildren > label {
    font-size: 78.5% !important; }

  #resizeSmaller {
    font-size: 123.5% !important; }

  .textOnImg {
    font-size: 77.5% !important; } }

/*# sourceMappingURL=media_queries.css.map */
