/* site settings*/
body {
    /*sets font family, no margin to fit correctly*/
    font-family: 'PT Sans Narrow', sans-serif;
    margin: 0px;
    background-color: #191919;
}

.divSite {
    /* creates side bars for desktop/laptop resolutions*/
    max-width: 850px;
    margin: 0 auto;
    background-color: #DEDEDE;
}

/* header settings*/
header {
    width: 100%;
    max-height: 150px;
    height: 8%;
}

.headerLogos {
    /* flexbox for logos*/
    width: 100%;
    height: 117px;
    background-color: #FDF3F3;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*nav bar*/
nav[class^=navbar] {
    background-color: #8E1918;
    width: 100%;
    height: 33px;
    border-radius: 0px;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    margin: 0;
    margin-left: -3.1%;
}

li {
    float: left;
    padding: 2px 2px 0px 4px
}

li a {
    color: white;
    padding-left: 3px;
    font-size: 120%;
    text-decoration: none;
}

/* main content settings*/
#BackImageMain {
    width: 100%;
}

.form{
    position: relative;
    width: 85%;
    background-color: white;
    opacity: 0.4;
    margin: -55% 7.5% 1% 7.5%;
    border: 2px solid slategrey;

}

div[class^=flex]{/*standard flex display*/
    display: flex;
    justify-content: center;

}/* paragraph and text adjustments*/
.textOnImg{
font-size: 200%;
    color: white;
    position: absolute;
    margin-top: 2%;
    margin-left: 1.7%;
}
.formHeader{
    font-size: 3em;
    margin: 2% 1% 2% 1%;
    line-height: 95%;
    text-align: center;
}
.fakebold/*adjusts text size to look "like bold"*/
{ 
    font-size: 1.4em;
    }